#------------------------------------------------------------------------------
# FILE LOCATIONS
#------------------------------------------------------------------------------

data_directory = '__DATA_DIRECTORY__'
hba_file = '__CONF_DIRECTORY__/main/pg_hba.conf'
ident_file = '__CONF_DIRECTORY__/main/pg_ident.conf'
external_pid_file = '__RUN_DIRECTORY__/__PG_VERSION__-main.pid'

#------------------------------------------------------------------------------
# CONNECTIONS AND AUTHENTICATION
#------------------------------------------------------------------------------

listen_addresses = '*'
port = __PORT__
max_connections = 250
unix_socket_directories = '__RUN_DIRECTORY__'
ssl = on
ssl_ciphers = 'DEFAULT:!LOW:!EXP:!MD5:@STRENGTH'
ssl_cert_file = '__CONF_DIRECTORY__/ssl/server.crt'
ssl_key_file = '__CONF_DIRECTORY__/ssl/server.key'

#------------------------------------------------------------------------------
# RESOURCE USAGE (except WAL)
#------------------------------------------------------------------------------

shared_buffers = 128MB

#------------------------------------------------------------------------------
# WRITE AHEAD LOG
#------------------------------------------------------------------------------


#------------------------------------------------------------------------------
# REPLICATION
#------------------------------------------------------------------------------

wal_level = hot_standby
max_wal_senders = 3
wal_keep_segments = 8
hot_standby = on

# Checkpointing configuration is required on PG < 9.5. However, 9.5 has smarter
# defaults, so we don't have it there.
checkpoint_segments = 8  # __NOT_IF_PG_9.5__  __NOT_IF_PG_9.6__ __NOT_IF_PG_10__ __NOT_IF_PG_11__

#------------------------------------------------------------------------------
# QUERY TUNING
#------------------------------------------------------------------------------


#------------------------------------------------------------------------------
# ERROR REPORTING AND LOGGING
#------------------------------------------------------------------------------

log_line_prefix = '%t '
log_timezone = 'UTC'
client_min_messages = ERROR
log_min_messages = INFO
log_min_error_statement = FATAL
log_destination = 'stderr'

#------------------------------------------------------------------------------
# RUNTIME STATISTICS
#------------------------------------------------------------------------------
shared_preload_libraries = '__PRELOAD_LIB__'

#------------------------------------------------------------------------------
# AUTOVACUUM PARAMETERS
#------------------------------------------------------------------------------


#------------------------------------------------------------------------------
# CLIENT CONNECTION DEFAULTS
#------------------------------------------------------------------------------

datestyle = 'iso, mdy'
timezone = 'UTC'
lc_messages = 'C'
lc_monetary = 'C'
lc_numeric = 'C'
lc_time = 'C'
default_text_search_config = 'pg_catalog.english'

tcp_keepalives_idle = 30
tcp_keepalives_interval = 30

#------------------------------------------------------------------------------
# LOCK MANAGEMENT
#------------------------------------------------------------------------------


#------------------------------------------------------------------------------
# VERSION/PLATFORM COMPATIBILITY
#------------------------------------------------------------------------------


#------------------------------------------------------------------------------
# ERROR HANDLING
#------------------------------------------------------------------------------


#------------------------------------------------------------------------------
# CONFIG FILE INCLUDES
#------------------------------------------------------------------------------

include '__PG_AUTOTUNE_CONF__'

#------------------------------------------------------------------------------
# CUSTOMIZED OPTIONS
#------------------------------------------------------------------------------
